.App {
  font-family: sans-serif;
  text-align: center;
  padding: 24px;
}

.content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  background: #d3d3d3;
}

.header {
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.buttons {
  margin-top: 8px;
}

.item {
  background: #fff;
  border-radius: 8px;
  padding: 12px;
}
